{% extends "base.html" %}

{% block title %}
    ParkEasy forgot_password
{% endblock title %}

{% block content %}

<div style="width: 30%; margin: auto;" class="shadow p-3 my-3">
    <h3 class="m-2 text-primary">Forgot Password Form</h3>
    <form method="post">
        {% csrf_token %}
        {{form}}

    <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
</div>
{% endblock content %}